.progress {
    padding-top: 130px;
    &__wrapper {        
        display: grid;
        grid-template: repeat(2, minmax(70px, auto))/repeat(3, 350px);
        column-gap: 45px;
        row-gap: 30px;
    }
    &__item {
        display: grid;
        grid-template: 21px 14px/200px 35px;
        justify-content: space-between;
        align-content: space-between;
        &-scale {
            width: 100%;
            height: 14px;
            background-color: #E8E4DE;
            border-radius: 4px;
            grid-column: 1/3;
            span {
                display: block;
                height: 100%;
                background-color: $main-color;
                border-radius: 4px;
            }
        }
        &-counter {
            font-size: 14px;
            line-height: 21px;
        }
        &-subtitle {
            position: relative;
            padding-left: 13px;
            @include before_circle;
            &:before {
                top: -35%;
                left: 0;
            }
        }
    }
    
}